@font-face {
	font-family: Quicksand;
	src: url(fonts/quicksand.ttf);
}

@font-face {
	font-family: Italiana;
	src: url(fonts/italiana-regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Italiana;

	--gray: rgb(51,51,51);
	--grey: rgb(169,169,169);
}

header nav {
	width: 100%;
	padding: 20px 0;
	background-color: var(--gray)
}

header nav p {
	font-family: Italiana;
	font-size: 2rem;
	color: var(--grey);
	width: max-content;
	margin: 0 auto;
}

main {
	width: 100%;
}

/* Hero Section */

.hero {
	background: linear-gradient(90deg, #AD8265, #98755A, #746349);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 210px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
}

.content .logo {
	width: 50px;	
	height: 50px;	
}

.content p {
	color: #E9CFAC;
}

.content .company-name  {
	font-size: 2rem;
}

.empty-space {
	width: 45px;
}

.hero img {
	flex-grow: 0;
	height: 100%;
}


/* Request a quote section */

.request-quote {
	background-color: rgb(244, 216, 192);
	font-family: Quicksand;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	gap: 20px 0;
}

.request-quote p {
  font-size: 1.5rem;
	text-align: center;
}

.text-black:hover {
	background-color: black;
	color: white;
}

.text-black {
	border: 1px solid black;
	color: black;
}

.text-black::before {
	background-color: black;
}

.text-black::after {
	background-color: black;
}

.btn-primary {
	display: inline-flex;
	background-color: transparent;
	padding: 16px 24px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .85rem;
	letter-spacing: 2px;
}

.btn-primary::before {
	width: 15px;
	height: 0.1px;
	content: "";
	margin: auto;
	margin-right: 5px;
}
.btn-primary::after {
	width: 15px;
	height: 0.1px;
	content: "";
	margin: auto;
	margin-left: 5px;
}


/* About us section */

.about-us {
	font-family: Quicksand;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 24px;
	gap: 20px;
	background-color: rgb(51, 51, 51);
}

.about-us__title {
	text-transform: uppercase;
	color: rgb(169, 169, 169);
	font-size: 1.4rem;
}

.about-us__subtitle {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 800;
	color: white;
}

.about-us__description {
	color: rgb(164, 164, 164);
	text-align: center;
}

.text-white:hover {
	background-color: white;
	color: black;
}

.text-white {
	border: 1px solid white;
	color: white;
}

.text-white::before {
	background-color: white;
}

.text-white::after {
	background-color: white;
}


/* Services section */
.services {
	display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgb(244, 216, 192);
	padding: 40px 0;
	font-family: Quicksand;
}

.title {
	margin-bottom: 40px;
	font-size: 1.5rem;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	font-weight: lighter;
	color: rgb(68, 60, 54);
}

.service {
	display: flex;
	flex-direction: column;
  align-items: center;
	gap: 20px;
}

.service img, .service .text {
	width: 80%;
} 

.service .text .service-type {
  font-size: 1.5rem;
	font-weight: 400;
	color: black;
}

.service .text .duration {
	display: flex;
	gap: 0 15px;
	font-size: 14px;
	font-weight: lighter;
	margin: 10px 0;
}

.service .text .description {
  color: rgb(73, 65, 58);
	font-weight: 400;
	margin-bottom: 15px;
}

.btn-secondary {
	border: none;
	background-color: black;
	color: white;
	padding: 12px 20px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

.contact {
	font-family: Quicksand;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	gap: 20px;
}

.contact p {
	width: 80%;
	text-align: center;
}

.contact .send-us-a-message {
	width: 80%;
	color: rgb(27, 27, 27);
	font-size: 28px;
	font-weight: 700;
}

.contact .please {
  color: rgb(94, 94, 94);
	font-size: 14px;
	font-weight: 400;
}

.send-message-btn {
  text-decoration: none;
	font-weight: 700;
	padding: 16px 16px;
	color: white;
	background-color: rgb(79, 102, 114);
}

.send-message-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 5px;
}

.send-message-btn img {
	width: 20px;
}

.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Quicksand;
}

.location .name, .availability .name {
	font-size: 28px;
	color: black;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}

.location .city {
	font-size: 15px;
	color: rgb(94, 94, 94);
}

.availability {
	font-family: Quicksand;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 30px;
}

.availability .time {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	text-align: end;
	color: rgb(94, 94, 94);
	margin-bottom: 50px;
}

.active {
	font-weight: 700;
}
