@font-face {
  font-family: Quicksand;
  src: url(fonts/quicksand.ttf);
}

@font-face {
  font-family: Italiana;
  src: url(fonts/italiana-regular.ttf);
}

p {
	color: pink;
	font-family: Italiana;
	font-size: 3rem;
	font-weight: bold;
}

