@font-face {
	font-family: Quicksand;
	src: url(fonts/quicksand.ttf);
}

@font-face {
	font-family: Italiana;
	src: url(fonts/italiana-regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Italiana;

	--gray: rgb(51,51,51);
	--grey: rgb(169,169,169);
}

header nav {
	width: 100%;
	padding: 20px 0;
	background-color: var(--gray)
}

header nav p {
	font-family: Italiana;
	font-size: 2rem;
	color: var(--grey);
	width: max-content;
	margin: 0 auto;
}

main {
	width: 100%;
}

/* Hero Section */

.hero {
	background: linear-gradient(90deg, #AD8265, #98755A, #746349);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 210px;
}

.hero .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
}

.hero .content .logo {
	width: 50px;	
	height: 50px;	
}

.hero p {
	color: #E9CFAC;
}

.hero .company-name  {
	font-size: 2rem;
}

.empty-space {
	width: 45px;
}

.hero img {
	flex-grow: 0;
	height: 100%;
}


.request-quote {
	background-color: rgb(244, 216, 192);
	font-family: Quicksand;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	gap: 20px 0;
}

.request-quote p {
  font-size: 1.5rem;
	text-align: center;
}

.request-quote a:hover {
	background-color: black;
	color: white;
}

.request-quote a {
	display: inline-flex;
	background-color: transparent;
	border: 1px solid black;
	padding: 10px 10px;
	font-weight: regular;
	text-decoration: none;
	color: black;
}

.request-quote a::before {
	width: 15px;
	height: 0.1px;
	background-color: black;
	content: "";
	margin: 10px 5px 10px 0px; 
}
.request-quote a::after {
	width: 15px;
	height: 0.1px;
	background-color: black;
	content: "";
	margin: 10px 0 10px 5px; 
}
